.services {
    flex: 1;
    background-image: url("../../assets/images/home-service-bg.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
  
  .webdev {
    width: 90vw;
    margin: 0 auto;
    padding-top: 60px;
  }
  
  .inner-content {
    display: flex;
  }
  
  .left-content {
    flex: .5;
  
    img {
      width: 100%;
    }
  }
  
  .right-content {
    flex: .5;
    padding-left: 20px;
  
    h2 {
      font-weight: 700;
      text-transform: uppercase;
      color: #57cad1;
      line-height: normal;
      margin-bottom: 15px;
      font-size: 20px;
    }
  
    p {
      margin-bottom: 20px;
      color: white;
      font-size: 14px;
      line-height: 24px;
    }
  }
  
  .emgtech {
    display: flex;
    padding-top: 30px;
  }
  
  .et {
    flex: .2;
  
    .et-img {
      margin: 0 auto;
      padding-top: 30px;
    }
  
    h3 {
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: normal;
    }
  
    img {
      height: 150px !important;
      max-height: 100%;
      display: block;
      margin-bottom: 30px;
    }
  
    .techIcon {
      max-height: 70px;
    }
  }
  
  .readMore {
    background: none;
    border-color: #57cad1;
    padding: 8px 25px;
  
    span {
      background-color: #57cad1;
    }
  }
  
  /*Start media query for responsive*/
  @media only screen and (max-width: 767px) {
    .inner-content {
      flex-direction: column;
    }
  
    .right-content {
      padding-top: 20px;
    }
  
    .et {
      flex: .3;
      padding-left: 20px;
    }
  
    .emgtech {
      flex-wrap: wrap;
    }
  
    .MuiTab-wrapper {
      font-size: 14px !important;
      line-height: 22px !important;
    }
  }
  
  /*End media query for responsive*/