.header {
  background: url("../../assets/images/HP-banner-3.jpg") center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 1);
  padding: 30px 30px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}

.nav figure {
  position: relative;
  z-index: 102;
}

.nav menu {
  display: flex;
}

.nav menu .talkButton{
  display: inline-flex;
}

.nav menu a{
  display: inline-flex;
  
}

.nav menu button[aria-label].rotate {
  transition: transform 300ms;
  transform: rotate(90deg);
  border-color: transparent;
}

.nav menu button[aria-label]{
  position: relative;
  cursor: pointer;
  display: inline-flex;
  padding: 12px 20px 12px 20px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-left: solid 2px #fff;
  background-color: transparent;
  transition: transform 300ms, border-color 300ms;
  z-index: 102;
}

.header .wrapper {
  height: 100vh;
}

.header hgroup {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.header hgroup>div {
  margin-left: 80px;
}

.header hgroup h1 {
  width: 1000px;
  font-size: 60px;
  line-height: 75px;
  color: #fff;
  line-height: 58px;
}

.header hgroup h3 {
  font-size: 32px;
  line-height: 60px;
  color: #fff;
  font-weight: normal;
}

.header hgroup .button {
  font-size: 24px;
  margin-top: 30px;
}

.header article {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.header article figure {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.header article figcaption {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 25px;
}

@media (min-width: 1200px) and (max-width: 1376px) {
  .header hgroup>div {
    margin-left: 60px;
  }

  .header hgroup h1 {
    width: fit-content;

    width: 900px;
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
  }
  
  .header hgroup h3 {
    margin-top: 10px;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    font-weight: normal;
  }
}

@media (max-width: 1199px) {
  .header hgroup>div {
    margin-left: 60px;
  }

  .header hgroup h1 {
    width: fit-content;
    font-size: 40px;
    line-height: 35px;
    color: #fff;
  }
  
  .header hgroup h3 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
  }
}
