.header {
  background: url("../../assets/images/HP-banner-3.jpg") center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  position: fixed;
  background-color: black;
  padding: 12px 32px;
  width: 100vw;
  z-index: 100;
}

.content {
  margin: 10% auto !important;
  width: 55vw !important;
  height: 60vh !important;
  background: none;
}

.nav figure {
  position: relative;
  z-index: 102;
}

.nav .overlay {
  cursor: default;
}

.nav menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav menu .talkButton,
.nav menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav menu .button {
  padding: 12px 12px;
  border: solid 1px #fff;
}

.nav menu button[aria-label] {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 20px 12px 20px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-left: solid 2px #fff;
  background-color: transparent;
  -webkit-transition: border-color 300ms, -webkit-transform 300ms;
  transition: border-color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, border-color 300ms;
  transition: transform 300ms, border-color 300ms, -webkit-transform 300ms;
  z-index: 102;
}

.nav menu button[aria-label].rotate {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-color: transparent;
}

.nav menu h1 {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #e0e0e0;
  text-align: center;
}

.nav menu .contactUs {
  background-image: url(../../assets/images/talk-to-us-min.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  padding: 50px;
}

.nav menu .contactUs .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav menu .contactUs .form .form-left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.nav menu .contactUs .form .form-left .addressinfo {
  margin-bottom: 40px;
  color: white;
}

.nav menu .contactUs .form .form-left .addressinfo .p {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 22px;
}

.nav menu .contactUs .form .form-left .addressinfo .address-text {
  font-size: 12px;
}

.nav menu .contactUs .form .form-left .social-links a {
  color: #fff;
  margin-left: 3px;
  font-size: 24px;
  line-height: normal;
  background: #161e5661;
  padding: 6px 10px;
  line-height: 60px;
  vertical-align: middle;
  text-decoration: none;
}

.nav menu .contactUs .form .form-left .social-links a:hover {
  color: #ed1f26;
}

.nav menu .contactUs .form .form-right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.nav menu .contactUs .form .form-right form input,
.nav menu .contactUs .form .form-right textarea {
  margin-bottom: 15px;
  border: 1px solid #bbb1e5;
  border-radius: 0;
  background-color: transparent;
  color: #e0e0e0;
  height: 40px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  padding: 6px 12px;
  width: 100% !important;
  font-size: 14px;
  font-weight: 400;
}

.nav menu .contactUs .form .form-right input[type="submit"] {
  background-color: #ed1f26 !important;
  border-color: #ed1f26 !important;
  cursor: pointer;
}

.header .wrapper {
  height: 100vh;
}

.header hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header hgroup > div {
  margin-left: 80px;
}

.header hgroup h1 {
  width: 1000px;
  font-size: 60px;
  line-height: 75px;
  color: #fff;
  line-height: 58px;
}

.header hgroup h3 {
  font-size: 32px;
  line-height: 60px;
  color: #fff;
  font-weight: normal;
}

.header hgroup .button {
  font-size: 24px;
  margin-top: 30px;
  color: #ff0d0d;
}

.header hgroup .button:hover {
  color: #fff;
}

.header article {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.header article figcaption {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 25px;
}

.telIcon {
  display: none;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

/*Start media query for responsive*/
@media only screen and (max-width: 767px) {
  .telIcon {
    display: block;
  }
  .button {
    display: none !important;
  }
  .header hgroup h1 {
    width: 80vw !important;
  }
  .nav-menu > ul > li > a {
    font-size: 24px;
  }
  .content {
    margin: 25% auto !important;
    width: 85vw !important;
    height: 45vh !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content {
    margin: 15% auto !important;
    width: 70vw !important;
    height: 50vh !important;
  }
}

@media (min-width: 1200px) and (max-width: 1376px) {
  .header hgroup > div {
    margin-left: 60px;
  }
  .header hgroup h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: 900px;
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
  }
  .header hgroup h3 {
    margin-top: 10px;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    font-weight: normal;
  }
}

@media (max-width: 1199px) {
  .header hgroup > div {
    margin-left: 60px;
  }
  .header hgroup h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    line-height: 35px;
    color: #fff;
    width: 600px;
    font-size: 40px;
    font-weight: 900;
    line-height: 35px;
  }
  .header hgroup h3 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
  }
}

/*End media query for responsive*/
/*# sourceMappingURL=Header.css.map */