footer.footer {
  background: url("../../assets/images/footer.jpg") center center;
  background-size: cover;
  height: fit-content;
  width: 100%;
}

.footer figure {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer > p {
  color: #fff;
  text-align: center;
  background-color: rgba(45, 36, 78, 0.2);
  padding: 20px 3%;
}

.footer section {
  display: flex;
  padding: 20px 3% 50px 3%;
  color: #fff;
  flex-direction: row;
  justify-content: space-between;
}

.footer .contact-box {
  margin-right: 20px;
  flex:.25
}

.footer .inner-box {
  margin-bottom: 30px;
}

.footer .inner-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer .inner-box p {
  font-size: 18px;
}

.footer section .service-box {
  flex-direction: row;
  justify-content: space-between;
  flex:.75;
}

.service-box ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
  padding-right: 30px;
}

.service-box ul li {
  padding: 10px 10px 5px 0;
}

.service-box ul li a {
  text-decoration: none;
  color: #fff;
}

.service-box h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 30px;
}

.customer-box {
  display: flex;
  /* flex-direction: column; */
}


.service-box .social-box li{
  font-size: 24px;
  padding-bottom: 0;
}


.social-box li span{
  margin-left: 15px;
  color: #ee3124;
}


.social-box li span a{
  margin: 5px;
}

.customer-box .box {
  display: flex;
  padding-bottom: 30px;
  flex:.65;
}

.client-box img{
  margin: 15px; 
  max-width:125px;
}

.client-box{
  flex:.35;
}

/*Start media query for responsive*/
@media only screen and (max-width: 991px){
 
}

@media only screen and (max-width: 767px){
  .footer section{
    flex-direction:column;
  }

 .footer section .service-box{
  flex-wrap: column;

 }

 .client-box img{
  max-width: 100px;
}

.footer .contact-box{
  flex-direction: column;
  text-align: center;
}
.customer-box{
  display: inline;
  text-align: center;
}
.customer-box .box{
  flex:1;
  flex-direction: column;
}
.client-box{
  flex: 1;
}
.social-box{
  text-align: center;
}
}

@media only screen and (max-width: 587px){ 
  .footer section .service-box{
    flex-direction: column;
  }
  .service-box .social-box li {
    line-height:35px;
  }
  .header hgroup>div{
    text-align:center;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 767px){
  .customer-box{
    flex-direction: column;
  }
}
/*End media query for responsive*/