.app{
  display: flex;
  height: 100vh;
  flex-direction:column;
}

.wrapper {
  width: 92vw; 
  padding:60px 0px 10px 0px;
  margin: 0 auto;
}


h1{
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ed1f26;
  margin-bottom: 30px;
}
